.collection .banner {
  width: 100%;
  height: 320px;
  background-position: 50%;
  background-size: cover;
}
.collection .banner .bg-cloak {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent 57.81%, rgba(6, 14, 37, 0.6));
}
.collection .detail {
  margin-top: -95px;
}
.collection .detail .avatar {
  width: 136px;
  border-radius: 100%;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background: #fff;
}
.collection .detail .pill-shape {
  border-radius: 30px;
  background: white;
  padding: 5px 10px;
}
.collection .detail .avatar img {
  width: 100%;
  border-radius: 50%;
  padding: 0.5rem;
}
.be {
  border-right: 2px solid rgba(143, 151, 163, 0.15);
}
